<a href="https://colab.research.google.com/github/waitzzy/NewsHub/blob/master/tianchi_Flink.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
train_data = pd.read_csv("https://tianchi-competition.oss-cn-hangzhou.aliyuncs.com/531800/%E5%A4%A9%E6%B1%A0%E6%AF%94%E8%B5%9B%E6%95%B0%E6%8D%AE%E9%9B%86/train_data.csv",sep = ';', header=None, names = ['uuid','face_id','device_id','feature_data'])
train_data.head()

      uuid  ...                                       feature_data
0  2573993  ...  -0.0308685 -0.0287476 -0.0645752 -0.000742435 ...
1  2573995  ...  0.0802612 -0.0274048 0.0358887 -0.0366821 -0.0...
2  2573996  ...  -0.007164 -0.0150299 0.0134659 -0.00733948 -0....
3  2573997  ...  -0.0485229 -0.00308037 -0.00849915 0.0863037 0...
4  2573998  ...  -0.122009 -0.0189514 -0.0148392 -0.0237579 0.0...

[5 rows x 4 columns]

In [10]:
lable_data = pd.read_csv("https://tianchi-competition.oss-cn-hangzhou.aliyuncs.com/531800/%E5%A4%A9%E6%B1%A0%E6%AF%94%E8%B5%9B%E6%95%B0%E6%8D%AE%E9%9B%86/label_file.csv",sep = ';', header=None, names = ['face_id','p_id'])
lable_data.head()

                                  face_id  p_id
0  11101712050220200517151446986310698631     0
1  11101712050220200517151445150620615062     0
2  11101712050220200517151446929540692954     0
3  11101412010220200517173124807730680773     0
4  11101412010220200517173125959370695937     0